/*reglas generales*/
* {
    box-sizing: border-box;
    text-align: center;
    font-family: Raleway;
    line-height: 1.5em;
    margin:0;
    padding:0;
  }


/*nav*/
.nav ul {
  display:flex;
  list-style-type: none;
  justify-content: space-between;
}
.nav li{
  flex:auto;
}
.nav a{
  text-decoration: none; 
  color: black;
}
/*Media Query*/

/** Reescribir colores */
.color{
  color: #037BC0;
}
.grid-container-productos1, .productos2, .productos3, .productos4, .productos5, .productos6{
  background-color: rgb(43, 101, 167);
  color:#fdfef8;
}
/*hero*/
.hero{
  background-image: url("principal.jpg");
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

}
/** Productos */
button{
  background-color:#8cbc00;
  padding:6px;
}

h1, h2, h3{
  font-family: Playfair;
}
h1{
  font-size: 2.5rem;
}
h2{
  font-size:2rem ;
}
h3{
  font-size: 1.5rem;
}

/*images*/
.imagen-productos1{
  grid-column: span 2;
  background-image: url("producto1.jpg");
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  border-radius: .5rem;
}
.imagen-productos2{
  background-image: url("producto2.jpg");
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  border-radius: .5rem;
}
.imagen-productos3{
  background-image: url("producto3.jpg");
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  border-radius: .5rem;
}
.imagen-productos4{
  background-image: url("producto4.jpg");
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  border-radius: .5rem;
}
.imagen-productos5{
  background-image: url("producto5.jpg");
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  border-radius: .5rem;
}
.imagen-productos6{
  background-image: url("producto6.jpg");
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  border-radius: .5rem;
}
.imagen-categorias1{
  background-image: url("categoria1.jpg");
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  border-radius: .5rem;
}
.imagen-categorias2{
  background-image: url("categoria2.jpg");
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  border-radius: .5rem;
}
.imagen-categorias3{
  background-image: url("categoria3.jpg");
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  border-radius: .5rem;
}