/* GRID*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 25rem;
    min-height: 100vh; /* Permite utilizar toda la pantalla, footer */
    justify-self:center;
  }
  .grid-container-productos{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 20rem 40rem 35rem ;
    grid-gap:1rem;
    width:90%;
    justify-self: center;
  }
  .productos, .productos1, .grid-container-productos2-3, .grid-container-productos4-5-6{
    grid-column: span 6;
  }
  .grid-container-productos1{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: .5rem;
  }
  .grid-container-productos2-3{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:1rem;
  }
  .grid-container-productos4-5-6{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:1rem;
  }
  .productos2, .productos3{
    display:grid;
    grid-template-rows: 20rem 20rem;
    border-radius: .5rem;
  }
  .productos4, .productos5, .productos6{
    display:grid;
    grid-template-rows: 15rem 20rem;
    border-radius: .5rem;
  }
  footer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width:90%;
    justify-self: center;
  }
  .grid-container-categorias{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:.6rem;
    width:90%;
    justify-self: center;
  }
  .categorias{
    grid-column: span 3;
  }
  .categoria1, .categoria2, .categoria3{
    display:grid;
    grid-template-rows: 10rem 5rem;
    border-radius: .5rem;
  }